{% extends 'base.html' %}

{% block content %}
<div class="container h-100">
  <div class="row justify-content-center align-items-center h-100">
    {% if value=="Register" %}
    <div class="col-4" style="text-align: justify; hyphens:auto">
      <p>
        HON has 3 different user types:
      </p>
      <ul>
        <li>study-admins</li>
        <li>user-admins</li>
        <li>study-participants</li> 
      </ul> 
      <p>  
        Newly registered users will be study-participants. 
        Their type can be changed by an user-admin. 
        User name and password can be changed at any point by 
        user-admins or study-participants.  
      </p>
    </div>
    {% endif %}

    <form class="form-horizontal my-auto col-4" method="post">
      <div class="form-group">
        <input class="form-control form-control-lg" {% if value == "Access Study"  %}name="study_id" id="study_id"  placeholder="Study ID" type="number"{% else %}name="username" id="username"  placeholder="Username"{%endif%}  required>
      </div>
      <div class="form-group">
        <input class="form-control form-control-lg" type="password" name="password" id="password"  placeholder="Password"  required>
      </div>
      <div class="form-group">
        <input type="submit" value="{{value}}" class="btn-dark btn-lg btn-block">
      </div>
    </form>
  </div>
</div>
{% endblock %}
