{% extends 'base.html' %}


{% block content %}
<div class="container h-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-12 my-auto">
      <form class="form-horizontal" action="12" method="post" enctype=multipart/form-data id="study_data">

        <span  class="badge badge-dark w-100 mt-1" data-toggle="collapse"
          data-target="#file_upload_rules" aria-expanded="false" aria-controls="file_upload_rules">
          <h5 class="col-12 mt-1">Basic Study Settings</h5>
        </span>

        <div class="row mx-auto mt-2">
          <div class="input-group">
            <div class="input-group-prepend col-2 px-0">
              <span class="input-group-text col-12">Title</span>
            </div>
            <input class="form-control form-control" name="title" id="title" placeholder="Study Title"
              {% if study is not none %} value="{{study['title']}}" {% endif %} required>
          </div>
        </div>


        <div class="row mx-auto">
          <div class="input-group">
            <div class="input-group-prepend col-2 px-0">
              <span class="input-group-text col-12">Password</span>
            </div>
            <input class="form-control" type="password" name="password" id="password" placeholder="Access Password"
              {% if study is none %} required {% endif %}>
          </div>
        </div>

          <div class="row mx-auto mt-2">
            <div class="input-group px-0" 
              data-toggle="tooltip" data-placement="left"
              title="The study description is shown to participants 
at the beginning of the study and should include 
basic information about the study 
e.g. how many images have to be evaluated.">
              <div class="input-group-prepend col-2 px-0">
                <span class="mx-auto input-group-text col-12">Study Description</span>
              </div>
              <textarea class="form-control" name="description" id="description"
                rows="13">{% if study is not none %}{{study.description}}{% endif %}</textarea>
            </div>
          </div>

          <div class="row mx-auto mt-2">
            <input name="image_upload"
              formaction={% if study is not none %} "{{ url_for('studies.create_modify_study',id=study["id"]) }}"
              {% else %} "{{ url_for('studies.create_modify_study') }}" {% endif %}
              class="btn-secondary btn-lg btn-block col-6 my-auto" type="submit" value="Continue to File Upload">

            <input name="study_design"
              formaction={% if study is not none %} "{{ url_for('studies.create_modify_study',id=study["id"]) }}"
              {% else %} "{{ url_for('studies.create_modify_study') }}" {% endif %}
              class="btn-secondary btn-lg btn-block col-6 my-auto" type="submit" value="Continue to Study Design">
          </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}