{% extends 'base.html' %}

{% block content %}
<script src="{{url_for('static', filename = 'js/misc.js')}}">  </script>


<div class="container">
  <div class="row mx-auto mb-4">
    <form action="{{ url_for('users.user') }}" method="get">
      <input type="submit" class="btn btn-success mr-2" value="Create New User">
    </form>
  </div>
  {% if g.user.access_level == 3 %}
  {% endif %}
  {% set roles = { 1 : "Study Participant", 2 : "Study Admin", 3 : "User Admin" } %}
  {% for i in range(1,4) %}
  <div class="row mx-auto">
    <button type="button" class="btn btn-secondary btn-block" data-toggle="collapse" data-target="#table{{i}}"
      aria-expanded="false" aria-controls="table{{i}}">
      <h5 class="col-12 mt-1">{{roles[i]}}s &#9776</h5>
    </button>
    <table class="table table-hover collapse" id="table{{i}}">
      <thead class="thead-dark">
        <tr>
          <!-- col-3 for width of cloumns does not work in chrome for tables use style="width: 25%" -->
          <th style="width: 19%">Name</th>
          <th style="width: 8%">Id</th>
          <th style="width: 25%">Created</th>
          <th style="width: 16%"> </th>
          <th style="width: 16%"></th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        {% if user.access_level == i %}
        <tr>
          <td class="align-middle">{{user["username"]}}</td>
          <td class="align-middle">{{user["id"]}}</td>
          <td class="align-middle">{{user["created"]}}</td>
          <td class="align-middle">
            {% if g.user.access_level == 3 %}
            <form class="" action="{{url_for('users.user', id = user.id)}}" method="get">
              <button class="btn-secondary btn-sm">modify</button>
            </form>
            {% endif %}
          </td>
          <td class="align-middle">
            {% if g.user.access_level  == 3 %}
            <button class="btn-danger btn-sm" onclick="delete_db_entry('user','{{user.username}}','{{user.id}}')">delete
            </button>
            {% endif %}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
  {% endblock %}